.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: -moz-available;
  min-height: -webkit-fill-available;
  min-height: fill-available;
}

.container {
  background-color: var(--color-bg-secondary);
  flex: 2;
}

.main {
  margin: 0 auto;
  padding: var(--padding-header);
  max-width: var(--max-width-content);
}