.nav {
  display: var(--display-tablet-flex);
  align-items: center;

  & a {
    color: var(--color-text-header);
    text-decoration: none;
    font-size: var(--text-size-nav);
    font-weight: 500;
  }

  & a + a {
    margin-left: 0.5rem;
    padding-left: calc(0.5rem + 1px);
    border-left: 1px solid var(--color-border);
  }

  & a[class="active"] {
    color: var(--color-text-link);
  }
}

.nav.vertical {
  display: flex;
  flex-direction: column;
  & a {
    padding: .5rem 1rem;
    width: 100%;
    transition: background-color 0.3s;
    font-size: 1.25rem;
  }
  & a:hover {
    background-color: var(--color-border);
  }

  & a + a {
    margin-left: 0;
    border-left: none;
    border-top: 1px solid var(--color-border);
  }
}
