:root {
  // colors

  --color-error: #DF2029;
  --color-placeholder: #acacac;

  // fonts

  --font-latin: 'Montserrat', sans-serif;
  --font-japanese: 'Noto Sans JP', sans-serif;

  // paddings & margins

  --padding-header: .75rem 1rem;

  // dimensions

  --max-width-content: 1440px;
  --height-header: 66px;
  --width-archive-list: 360px;

  --width-logo: 4rem;
  --height-logo: 2rem;

  --width-button-icon: 1.75rem;
  --height-button-icon: 1.75rem;

  // text

  --text-size-title-bg: 2.5rem;
  --text-size-title-md: 2.25rem;
  --text-size-bg: 1.25rem;
  --text-size-md: 1.125rem;
  --text-size-sm: 1rem;
  --text-size-button: 1.125rem;
  --text-weight-link: 500;

  // other

  --border-radius-sm: .25rem;
  --border-radius-md: .5rem;
  --transition-default: all 0.3s;
  --line-height-coef: 1.5;


  @media (min-width: 576px) {
    --padding-header: 1rem 1.25rem;
    --width-logo: 5rem;
    --height-logo: 2.5rem;

    --width-button-icon: 2rem;
    --height-button-icon: 2rem;
  }
  @media (min-width: 768px) {

  }
  @media (min-width: 992px) {
    --width-logo: 6rem;
    --height-logo: 3rem;

    --width-button-icon: 2.5rem;
    --height-button-icon: 2.5rem;
  }
  @media (min-width: 1200px) {

  }
}

#root-app[data-theme="light"] {
  --color-text-primary: #2c2c2c;
  --color-text-header: #202020;
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #cecece;
  --color-inactive: #acacac;
  --color-elements: #202020;
  --color-border: #acacac;
  --color-scrollbar-track: #acacac;
  --color-scrollbar-thumb: #2c2c2c;
  --color-text-input: #202020;
  //--color-text-link: #088488;
  --color-text-link: #00e59b;
  --color-text-highlight: #2c2c2c;
  --logo-bg: url("../images/svg/jago-logo-light.svg");
}
#root-app[data-theme="dark"] {
  --color-text-primary: #e6e6e6;
  --color-text-header: #ffffff;
  --color-bg-primary: #2c2c2c;
  --color-bg-secondary: #202020;
  --color-inactive: #646464;
  --color-elements: #d9d9d9;
  --color-border: #646464;
  --color-scrollbar-track: #d9d9d9;
  --color-scrollbar-thumb: #646464;
  --color-text-input: #2c2c2c;
  --color-text-link: #e8af20;
  --color-text-highlight: #ffffff;
  --logo-bg: url("../images/svg/jago-logo-dark.svg");
}