.modal {
  max-width: unset;
  max-height: unset;
  height: 100%;
  width: 100%;
  border: none;
  background-color: var(--color-bg-primary);

  &[open] {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
  }
  & .bottom {
    padding: 1rem 50%;
    border-top: 1px solid var(--color-border);
    cursor: pointer;
    transition: background-color 0.3s;
    &:hover {
      background-color: var(--color-border);
    }
    & button {
      transform: translateX(-50%);
    }
  }
}

//Creates a transition event for a script
@media (min-width: 576px) {
  .modal[open] {
    transform: translate(0);
    transition: transform 1ms;
  }
}

