.footer {
  background-color: var(--color-bg-primary);
}

.container {
  padding: var(--padding-header);
  color: var(--color-text-header);
  max-width: var(--max-width-content);
  margin: 0 auto;
}

.list {
  display: grid;
  grid-template-columns: repeat(2, minmax(5rem, 10rem));
  list-style: none;
}